.card {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 20px; /* Espaciado alrededor de la tarjeta */
    background-color: #fff; /* Fondo blanco para la tarjeta */
    width: 70%;
    padding: 0; /* Elimina el padding interno de la tarjeta */
}

.card:hover {
    transform: translateY(-10px);
    border: 3px solid #838383;
}

.card-img-top {
    width: 100%; /* Imagen ocupa el ancho completo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea inferior de la imagen */
    display: block; /* Elimina cualquier espaciado adicional de la imagen */
}

.card-body {
    background-color: #e8e8e8;
    padding-left: 10px; /* Elimina padding dentro del cuerpo de la tarjeta */
    padding-top: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: -10px;
}

.card-title {
    font-size: 1.7rem; /* Tamaño de fuente del título */margin: 0; /* Elimina margen inferior */
    color: #1e1e1e; /* Color del texto del título */
    font-family: Roboto, sans-serif;
    font-weight: bold;

}

.card-text {
    font-size: 0.9rem; /* Tamaño de fuente del texto */
    color: #666; /* Color del texto */
    margin: 0; /* Elimina margen inferior */
}

.list-group-item {
    border: none; /* Sin bordes para los elementos de la lista */
    padding: 0; /* Elimina espaciado interno */
    background-color: #f8f9fa; /* Fondo suave para los elementos de la lista */
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea entre elementos de la lista */
}


.contenedorImg {
    height: 186px;
    background-color: black;
    margin: 0; /* Elimina márgenes alrededor de la imagen */
    padding: 0; /* Elimina padding interno */
}

.card-img-top {
    width: 100%;
    display: block;
    margin: 0; /* Elimina márgenes adicionales */
}

.barraInfoConciertoCard{
    display: flex;
    justify-content: center;

}

.infoFecha {
    background-color: #3590F3;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: center;
    padding-right: 7%;

}

.fechaText{
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    font-style: italic;
}

.infoHora{
    background-color: #3590F3;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: center;
}



.hola9 {
    height: 100%;
    margin: 0; /* Elimina margen */
    padding: 0; /* Elimina padding */
}


.infoLugar{
    font-family: Roboto, sans-serif;
    font-weight: bold;
}