.card {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 20px; /* Espaciado alrededor de la tarjeta */
    background-color: #fff; /* Fondo blanco para la tarjeta */
    width: 90%;
    padding: 0; /* Elimina el padding interno de la tarjeta */
}

.card:hover {
    transform: translateY(-10px);
    border: 3px solid #838383;
}

.card-img-top {
    width: 100%; /* Imagen ocupa el ancho completo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea inferior de la imagen */
    display: block; /* Elimina cualquier espaciado adicional de la imagen */
}

.card-body {
    background-color: #fafafa;
    padding: 0; /* Elimina padding dentro del cuerpo de la tarjeta */
    margin: 0; /* Elimina el margen en el cuerpo */
}

.card-title {
    font-size: 1.25rem; /* Tamaño de fuente del título */
    font-weight: 600; /* Peso del texto más grueso */
    margin: 0; /* Elimina margen inferior */
    color: #333; /* Color del texto del título */
}

.card-text {
    font-size: 0.9rem; /* Tamaño de fuente del texto */
    color: #666; /* Color del texto */
    margin: 0; /* Elimina margen inferior */
}

.list-group-item {
    border: none; /* Sin bordes para los elementos de la lista */
    padding: 0; /* Elimina espaciado interno */
    background-color: #f8f9fa; /* Fondo suave para los elementos de la lista */
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea entre elementos de la lista */
}


.contenedorImg {
    height: 252px;
    background-color: black;
    margin: 0; /* Elimina márgenes alrededor de la imagen */
    padding: 0; /* Elimina padding interno */
}

.card-img-top {
    width: 100%;
    display: block;
    margin: 0; /* Elimina márgenes adicionales */
}

.infoFecha {
    background-color: #3590F3;
    height: 60px;
    margin: 0; /* Elimina margen */
    padding: 0; /* Elimina padding */
}

.barraInfoConciertoCard {
    padding: 0; /* Elimina el padding interno */
    margin: 0; /* Elimina el margen */
}

.hola9 {
    height: 100%;
    margin: 0; /* Elimina margen */
    padding: 0; /* Elimina padding */
}
