.card {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 20px; /* Espaciado alrededor de la tarjeta */
    background-color: #fff; /* Fondo blanco para la tarjeta */
    width: 70%;
    padding: 0; /* Elimina el padding interno de la tarjeta */
    position: relative; /* Necesario para el botón hover */
}

.card:hover {
    transform: translateY(-15px);
    border: 3px solid #838383;
    box-shadow: 5px 5px 20px rgb(34, 34, 34);
}

.card-img-top {
    width: 100%; /* Imagen ocupa el ancho completo */
    height: auto; /* Mantiene la proporción de la imagen */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea inferior de la imagen */
    display: block; /* Elimina cualquier espaciado adicional de la imagen */
}

.nombreEvento{
    width: 242px; /* Ancho fijo del contenedor */
    height: 30px; /* Alto fijo del contenedor */
    overflow: hidden; /* Oculta el contenido que desborda */
    box-sizing: border-box;


    white-space: nowrap; /* No permite que el texto se envuelva a una nueva línea */
    text-overflow: ellipsis;
}


.card-body {
    background-color: #e8e8e8;
    padding-left: 10px; /* Elimina padding dentro del cuerpo de la tarjeta */
    padding-top: 10px;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: -10px;
    width: 100%;
}

.card-title {
    font-size: 1.5rem; /* Tamaño de fuente del título */
    margin: 0; /* Elimina margen inferior */
    color: #1e1e1e; /* Color del texto del título */
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.card-text {
    font-size: 0.9rem; /* Tamaño de fuente del texto */
    color: #666; /* Color del texto */
    margin: 0; /* Elimina margen inferior */
}

.list-group-item {
    border: none; /* Sin bordes para los elementos de la lista */
    padding: 0; /* Elimina espaciado interno */
    background-color: #f8f9fa; /* Fondo suave para los elementos de la lista */
}

.list-group-item:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Línea entre elementos de la lista */
}

.contenedorImg {
    height: 186px;
    background-color: black;
    margin: 0; /* Elimina márgenes alrededor de la imagen */
    padding: 0; /* Elimina padding interno */
}

.barraInfoConciertoCard {
    display: flex;
    justify-content: center;

}

.infoFecha {
    background-color: #3590F3;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: center;
    padding-right: 7%;
}

.fechaText {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: normal;
    font-style: italic;
}

.infoHora {
    background-color: #3590F3;
    height: 40px;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10%;
    justify-content: center;
}

.infoLugar {
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

/* Estilos del botón hover */
.boton-hover {
    top: 50%;
    left: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding-top: 30px;
}

.contenedorInfo{
    display: flex;
    background-color: #e8e8e8;
    padding-right: 10px;
}

.card:hover .boton-hover {
    opacity: 1; /* Mostrar el botón al hacer hover */
}

.boton-hover img {
    width: 50px; /* Ajusta el tamaño de la imagen del botón */
    height: 50px;
}


.ticket-icon {
    fill: #000; /* Color por defecto */
    transition: transform 0.3s ease, fill 0.5s ease;
}

.ticket-icon:hover {
    fill: #3590F3;
    transform: scale(1.2); /* Agranda el SVG al 120% de su tamaño original */
}