.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 10px;
    width: 100%;
    background-color: #4a90e2;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 25px;
}

.logo-text {
    font-weight: bold;
    font-size: 35px;
    background-color: #ffd700;
    color: #4a90e2;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;
}

.app-name {
    font-size: 30px;
    font-family: Roboto, sans-serif;

}

.actions {
    display: flex;
    gap: 100px;
    padding-right: 30px;
}

.action-button {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: Roboto, sans-serif;
    gap: 10px;
    padding: 2px;
}

.action-button:hover {
    background-color: #829cc5; /* Cambia el color de fondo en hover */
    color: #ffffff; /* Color del texto al hacer hover (opcional) */
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
}

.button-icon1{
    width: 60px;
    height: 40px;
}

.action-button image{
    width: 1px; /* Ajusta este valor según el tamaño deseado */
    height: auto;
}

.action-button svg {
    margin-right: 5px;
}

.button-icon{
    width: 50px;
    height: 50px;
}
